[user]
	name = Ikiru Yoshizaki
	email = guitarrapc@users.noreply.github.com
[core]
	autocrlf = true
	quotepath = False
	excludesfile = .gitignore_global
	symlinks = true
	filemode = false
[gui]
	encoding = utf-8
[web]
	browser = google-chrome
[push]
	default = current
[fetch]
	# Auto-kill defunct remote branches
	prune = true
[credential]
	helper = wincred
	# Let OS X remember our logins for us
	# helper = osxkeychain
[include]
	path = .gitconfig.local
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[column]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[credential "https://source.developers.google.com"]
	useHttpPath = true
